<span class='help_text'>
    <small><em>Des filtres sont actifs</em></small>
</span>
<span class='help_text'>
    <a class="handle_delete_filters" href="#">
        <svg class="icon"><use href="/static/icons/endi.svg#times"></use></svg> Supprimer tous les filtres
    </a>
</span>