<div class="layout flex quotation_item_title">
  <div>
    <h3>
      {{#if title}}
        {{title}}
      {{else}}
        <small>
          <em>
            Aucun titre n’a été saisi pour ce chapitre
          </em>
        </small>
      {{/if}}
    </h3>
    <p>
      {{#if description}}
        {{{description}}}
      {{else}}
        <small>
          <em>
            Aucun détail n’a été saisi pour ce chapitre
          </em>
        </small>
      {{/if}}
    </p>
  </div>
  <div>
    {{#if edit}}
      <button
        type="button"
        class="btn icon only edit-chapter"
        aria-label="Modifier ce chapitre"
        title="Modifier ce chapitre"
        tabindex="-1"
      >
        <svg>
          <use href="/static/icons/endi.svg#pen"></use>
        </svg>
      </button>
      <button
        type="button"
        class="btn icon only negative delete-chapter"
        aria-label="Supprimer ce chapitre"
        title="Supprimer ce chapitre"
        tabindex="-1"
      >
        <svg>
          <use href="/static/icons/endi.svg#trash-alt"></use>
        </svg>
      </button>
    {{/if}}
    {{#if is_not_first}}
      <button
        type="button"
        class="btn icon only up up-chapter"
        title="Déplacer ce chapitre vers le haut"
        aria-label="Déplacer ce chapitre vers le haut"
        tabindex="-1"
      >
        <svg>
          <use href="/static/icons/endi.svg#arrow-up"></use>
        </svg>
      </button>
    {{/if}}
    {{#if is_not_last}}
      <button
        type="button"
        class="btn icon only down down-chapter"
        title="Déplacer ce chapitre vers le bas"
        aria-label="Déplacer ce chapitre vers le bas"
        tabindex="-1"
      >
        <svg>
          <use href="/static/icons/endi.svg#arrow-down"></use>
        </svg>
      </button>
    {{/if}}
  </div>
</div>
{{#if collectionRawHtml}}
  <div class="table_container">
    <div class="errors"></div>
    <table class="hover_table top_align_table collapsible">
      <thead>
        <tr>
          <td class="level_spacer"></td>
          <th scope="col" class="col_text" colspan="2">
            Description
          </th>
          <th
            scope="col"
            class="col_number hidden_pdf"
            title="Cout Unitaire Hors Taxes"
          >
            Cout U.<span class="screen-reader-text">nitaire</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
          </th>
          <th scope="col" class="col_number" title="Prix Unitaire Hors Taxes">
            Prix U.<span class="screen-reader-text">nitaire</span> H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
          </th>
          <th scope="col" class="col_number quantity" title="Quantité">
            Q<span class="screen-reader-text">uanti</span>té
          </th>
          <th scope="col" class="col_text unity">
            Unité
          </th>
          <th scope="col" class="col_number" title="Prix Hors Taxes">
            <span class="screen-reader-text">Prix </span>H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
          </th>
          <th scope="col" class="col_number tva" title="Taux de TVA et compte produit">
            <span class="screen-reader-text">Taux de </span>TVA<span class="screen-reader-text"> et compte produit</span>
          </th>
          <th scope="col" class="col_actions width_tree" title="Actions">
            <span class="screen-reader-text">Actions</span>
          </th>
          <th
            scope="col"
            class="col_actions row_ordering"
            colspan="2"
            title="Actions (classement)"
          >
            <span class="screen-reader-text">Actions (classement)</span>
          </th>
        </tr>
        <tr class="row_recap">
          <td class="level_spacer"></td>
          <th
            scope="row"
            class="col_text"
            colspan="6"
            title="Sous-total Hors Taxes"
          >
            Sous-total H<span class="screen-reader-text">ors </span>T<span class="screen-reader-text">axes</span>
          </th>
          <td class="col_number">
            {{{total_ht}}}
          </td>
          <td class="col_actions content_double_padding align_right" colspan="4">
            <div role="group">
              <div class="chapter-addproduct"></div>
              <div class="chapter-addwork"></div>
            </div>
          </td>
        </tr>
      </thead>
      {{{collectionRawHtml}}}
    </table>
  </div>
{{else}}
  <div class="actions content_double_padding align_right">
    <div role="group">
      <div class="chapter-addproduct"></div>
      <div class="chapter-addwork"></div>
    </div>
  </div>
{{/if}}