<label for="{{field_name}}">{{ label }}</label>
<div class='icon_choice' data-toggle="buttons">
	<div class="toggle-buttons layout flex">
	{{#each options }}
		<label 
			title="{{#if this.selected}}{{{this.label}}}{{else}}Changer en : {{{this.label}}}{{/if}}" 
			aria-label="{{#if this.selected}}{{{this.label}}}{{else}}Changer en : {{{this.label}}}{{/if}}" 
			class="{{#if this.selected}}active{{/if}}">
			<input 
				type="radio" 
					name="{{ ../field_name }}" 
					value="{{ this.value }}" 
					{{#if this.selected}} checked="checked" {{/if}} 
					class="visuallyhidden">
			<span>
				{{#if this.icon}}<svg><use href="/static/icons/endi.svg#{{ this.icon }}"></use></svg>{{/if}}
				<span>{{this.label}}</span>
			</span>
		</label>
	{{/each}}
	</div>
</div>
{{#if description}}
<span class='help-block'>{{description}}</span>
{{/if}}
