{{#if title}}
    {{#if required}}
        <label for='{{tagId}}' class="required" aria-label="Champ obligatoire" >
            {{title}}
            <span class="icon required">
                <svg><use href="/static/icons/endi.svg#required"></use></svg>
                <span> Obligatoire</span>
            </span>
        </label>
    {{else}}
        <h3>
            {{title}}
        </h3>
    {{/if}}
{{/if}}
<div class="flex layout three_cols">
    <div class="select_customer"></div>
    <div class="select_project"></div>
    <div class="select_business"></div>
</div>
{{#if description}}
    <span class='help-block'>{{ description }}</span>
{{/if}}
