<script setup>
  import { inject } from 'vue'

  import Select2 from '@/components/forms/Select2.vue'
  import http from '@/helpers/http'
  import { formContextInjectionKey } from '@/helpers/form'
  import { useCustomerConfigStore } from '@/stores/customer'
  import { storeToRefs } from 'pinia'

  const { getFormFieldData } = inject(formContextInjectionKey)

  const formConfigStore = useCustomerConfigStore()

  const { options } = storeToRefs(formConfigStore)
  let companyOptions = await http.get(
    '/api/v1/companies/?fields=id&fields=name'
  )
  console.log(companyOptions)
  companyOptions = companyOptions.filter(
    (item) => item['id'] != options.value.company_id
  )
  console.log(companyOptions)
</script>
<template>
  <fieldset class="deformFormFieldset">
    <Select2
      :options="companyOptions"
      idKey="id"
      label-key="name"
      v-bind="getFormFieldData('source_company_id')"
    />
  </fieldset>
</template>
