<div>
    {{label}}
    <br/>
    {{#if supplier_ht_mode}}
    <b>Déboursé Sec&nbsp;: {{{supplier_ht_label}}}</b>
    <br />
    {{/if}}
    {{#if ttc_mode}}
    <b>Prix de vente TTC&nbsp;: {{{ttc_label}}}</b>
    <br />
    {{else}}
    {{#if supplier_ht_mode}}
    <a onclick="javascript:void(0)" class="unstyled icon only help" title="Afficher le détail sur les méthodes de calcul">
        <svg><use href="/static/icons/endi.svg#info-circle"></use></svg>
    </a>
    {{/if}}
    <b>Prix de vente HT&nbsp;: {{{ht_label}}}
    
    </b>
    {{/if}}
</div>
