<table class="hover_table">
	<thead>
		<tr>
			<th class="col_text" scope="col">Titre</th>
			<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
		</tr>
	</thead>
    <tbody>
    </tbody>
    <tfoot>
    	<tr>
    		<td class="col_actions" colspan="2">
    			<button class='btn icon only add' type='button' title="Ajouter une catégorie" aria-label="Ajouter une catégorie">
    				<svg><use href="/static/icons/endi.svg#plus"></use></svg>
        		</button>
    		</td>
    	</tr>
    </tfoot>
</table>