<div class="separate_top content_vertical_padding">
    <h3>Propriétés de la commande</h3>
    <form class="form">
        <div class="form-section">
            <div class="layout flex two_cols">
                <div class='advance_percent'></div>
                <div class='name'></div>
            </div>
            <div class="row form-row">
                <div class='col-md-6 supplier_id'></div>
            </div>
        </div>
    </form>
</div>
