<tr class="row taskline">
  <td class="level_spacer"></td>
  <td class="level_spacer"></td>
    <td class="col_text description">
      {{{description}}}
    </td>
    <td class="col_number">
      {{{total_ht_to_invoice}}}
    </td>
    <td class="col_number">
      {{{total_tva_to_invoice}}}
    </td>
    <td class="col_number">
      {{{total_ttc_to_invoice}}}
    </td>
    <td class="col_percentage_graphic">
      <div class="group-slider-container">
        <div class="billing_slider">
          <a data-action="workitem:edit" data-workid={{work_id}} data-id="{{id}}" href="javascript:void(0);" title="">
            <span class="billing done" title="Déjà facturé : {{already_invoiced}}%" style="width: {{already_invoiced}}%;"><span class="screen-reader-text">Déjà facturé : </span><span class="value">{{already_invoiced}}</span></span>
            <span class="billing todo" title="À facturer : {{percentage}}%" style="width: {{percentage}}%;"><span class="screen-reader-text">A facturer : </span><span class="value">{{percentage}}%</span></span>
            <span class="billing remain" title="Restera à facturer : {{percent_left}}%" style="width: {{percent_left}}%;"><span class="screen-reader-text">Restera à facturer : </span><span class="value">{{percent_left}}%</span></span>
          </a>
        </div>
      </div>
    </td>
    <td class="col_number">
      {{{total_ht}}}
    </td>
  <td class="level_spacer"></td>
</tr>