<script setup>
  import Icon from '@/components/Icon.vue'
  const props = defineProps({
    notification: Object,
  })
  const rawHtml = props.notification.title + '<br />' + props.notification.body
</script>
<template>
  <div class="alert alert-warning align_center">
    <span class="icon">
      <Icon name="exclamation-triangle" />
    </span>
    <div>
      <strong v-html="rawHtml"></strong>
    </div>
  </div>
</template>
